html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* STYLE GUIDE INFO

Color Palette --
White:          #FFFFFF - 255, 255, 255
Vivid Purple:   #9200FF - 146, 0, 255
Royal Purple:   #3D0369 - 61, 3, 105
Dark Indigo:    #0F0632 - 15, 6, 50
Almost Black:   #08080B - 8, 8, 11 

Text Style -- 
h3 heading, bolded h3 headings, p body text: Montserrat
h1 heading, h2 heading, buttons: Iceberg
*/

/* GENERAL */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

ul li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  
  padding: 5px;
  
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
}

i {
  font-size: 25px;
  padding: 10px 0;
}

/* font families */
h3,
h4,
a,
p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

p {
  font-size: 20px;
  line-height: 29px;
}

h1,
h2,
button {
  font-family: 'Iceberg', cursive;
  color: #fff;

  text-transform: uppercase;
}

button {
  background: #9200FF;
  border-style: none;

  font-size: 25px;
  line-height: 29px;
  text-align: center;
}

h2 {
  font-size: 52px;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

/* HEADER */
header {
  background: url(/assets/image-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.head-text-container {
	width: 40%;
	margin: 0 auto;
	padding: 60px 50px;
}


h1 {
  font-size: 80px;
  line-height: 80px;
  text-align: center;
}

h3 {
  background-color: #9200FF;
  
  text-align: center; 
  letter-spacing: 3.5px;
  font-size: 2.6rem;
  padding: 20px 0;
}

.main-menu {
  margin: 0 auto;
  padding: 50px 30px;
  text-align: center;
}

.main-menu li {
  display: inline-block;
  width: 100px;
}

.social-linkbar {
  position: absolute;
  top: 290px;
  right: 0;
  margin-right: 50px;
  
  color: #fff;
}

/* INFO CONTENT */
.info1,
.info2 {
  background:#0F0632;
}

.img-content-container,
.copy-content-container {
  float: right;
  width: 50%;
} 

/* USE THIS TO CENTER THE COPY WELL https://css-tricks.com/centering-css-complete-guide/ */
.copy-content-container {
  margin-top: 115px;
  padding-right: 100px;
}

.copy-content-container p {
  margin: 20px 0;
}

/* ADD CLICK HOVER OVER BUTTON */
.read-more-btn {
  padding: 20px;
  margin: 20px 0;
}

.info2 .img-content-container,
.info2 .copy-content-container {
  float: left;
  width: 50%;
}

.info2 .copy-content-container {
  padding-left: 100px;
  padding-right: 0;
}

/* admissions */
.admissions {
  background: #08080B;
  padding: 100px 0;
}

.admission-img-container, .admission-content-container {
  float: left;
}

.admission-img-container {
  width: calc(30% - 40px);
  margin-right: 40px;
}

.admission-content-container {
  width: 70%;
}

.admission-content-container p {
  padding: 10px 0;
}

/* CONNECTIONS */
.connections {
  background: #3D0369;
  padding: 175px 0;
}

.connections-container {
  color: #fff;
  width: 50%;
  margin: 0 auto;
}

.locations, 
.tickets,
.reach-out {
  float: right;
  width: 33.33%;
  text-align: center;
  text-transform: uppercase;
}

.connection-icon {
  font-size: 50px;
}

.connection-heading {
  font-size: 30px;
  font-weight: 700;
  text-align: center;

  margin-top: 10px;
}

/* GALLERY */
.gallery {
  background: #0F0632;
  padding: 100px 0;
}

.gallery h2 {
  text-align: center;
}

.gallery li {
  float: left;
  width: calc((96% - 50px) / 3);
  margin-right: 50px;
  margin-top: 100px;
}

.gallery .gallery-fix {
  margin-right: 0;
}

/* CONTACT */
.contact {
  background: #3D0369;
  padding-top: 30px;
  padding-bottom: 120px;
}

.address-container, 
.email-container {
  float: left;
  width: 50%;
  margin-top: 40px;
}

.address-container p {
  margin-top: 3px;
}

.email-container input {
  padding: 25px 0;
  padding-left: 30px;
  border-style: none;
  width: 70%;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #08080B;
}

.email-btn {
  margin-top: 10px;
  width: 22%;
  padding-top: 13px;
  padding-bottom: 20px;
}

/* FOOTER */
footer {
  background: #0F0632;
  padding: 20px 0;
}

footer p {
  text-align: center;
  
  font-weight: 700;
  font-size: 16px;
}

footer a {
  text-transform: none;
  text-decoration: underline;
  font-size: 16px;
}

/* MEDIA QUERIES */

/* portrait tablet and small desktops */
@media (max-width: 940px) {
  /* header */
  header {
    padding-top: 250px;
  }

  .head-text-container {
  	width: 50%;
  	padding: 60px 5px;
  }

  header .main-menu,
  header .social-linkbar {
    display: none;
  }

  /* info */
  .img-content-container,
  .copy-content-container {
    width: 100%;
  }

  .info2 .img-content-container,
  .info2 .copy-content-container {
    width: 100%;
  }

  .info2 .copy-content-container {
    padding: 0;
  }

  .copy-content-container {
    margin-top: 65px;
    padding: 0;
  }

  .copy-content-container p {
    font-size: 30px;
    line-height: 40px;
  }
  
  .btn-container {
    margin: 70px auto;
  }

  .read-more-btn {
    font-size: 40px;
    display: block;
    margin: 0 auto;
  }
  
  /* admissions */
  .admissions {
    padding: 0;
  }

  .admission-img-container,
  .admission-content-container {
    width: 100%;
  }

  .admission-img-container img {
    display: block;
    margin: 0 auto;
    padding: 50px 0;
    width: 85%;
  }

  .admission-content-container p {
    font-size: 30px;
    line-height: 45px;
    margin: 30px 0;
  }

  /* connections */
  .connections {
    padding: 75px 0;
  }
  .connections-container {
    margin: 0 auto;
  }

  .locations,
  .tickets,
  .reach-out {
    padding: 50px 0;
    width: 100%;
  }

  .connections-container i {
    font-size: 80px;
    margin-bottom: 10px;
  }

  .connections-container h4 {
    font-size: 37px;
  }

  /* gallery */
  .gallery h2 {
    margin-bottom: 100px;
  }

  .gallery li {
    width: 50%;
    padding: 0 8px;
    margin: 0 auto;
  }

  .gallery-fix {
    display: none;
  }

  /* contact */
  .contact a {
    font-size: 25px;
  }

  .main-menu li {
    width: 24%;
    padding: 0;
  }

  .main-menu {
    margin: 0;
    padding: 60px 0 15px 0;
  }

  .address-container,
  .email-container {
    float: none;
    width: 100%;
    text-align: center;
  }

  .email-container input,
  .email-btn {
    width: 95%;
    margin-top: 20px;
  }
  
  .email-container input {
    padding-left: 0;
  }

  .contact h2 {
    padding: 15px 0;
  }

  input::placeholder {
    text-align: center;
    font-size: 22px
  }

  .email-btn {
    padding-top: 20px;
    font-size: 35px;
  }

  .contact p {
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 1px;
  }

  /* footer */
  footer p:first-of-type {
    font-size: 25px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 812px) {
	/* header */
	header {
		padding: 225px 0;
		height: auto;
	}
	
	.head-text-container {
		width: 60%;
	}

	/* connections */
	.locations,
	.tickets,
	.reach-out {
		padding: 35px 0;
	}
}

/* landscape iPhone 6/7/8 */
@media (max-width: 700px) {
	.head-text-container {
		width: 70%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	header {
		height: 110vh;
	}

	.head-text-container {
		width: 100%;
	}

	h2 {
		font-size: 44px;
	}

	.copy-content-container p,
	.admission-content-container p {
		font-size: 22px;
	}

	/* contact */
	.main-menu {
		padding-top: 20px;
		padding-bottom: 90px;
		float: right;
		width: 106%;
	}

	.contact a {
		font-size: 22px;
	}

	.contact p {
		font-size: 23px;
	}

	.email-container p {
		font-size: 17px;
	}

	.email-container input,
	.email-btn {
		width: 100%;
	}
}

/* smaller phones */
@media (max-width: 414px) {
	/* header {
		height: 120vh;
	} */

	h1 {
		font-size: 60px;
		line-height: 60px;
	}

	h3 {
		font-size: 1.9rem;
	}

	h2 {
		font-size: 35px;
	}

	.copy-content-container p,
	.admission-content-container p {
		font-size: 19px;
	}

	.admission-content-container p {
		line-height: 35px;
	}

	.read-more-btn {
		font-size: 30px;
		padding: 15px;
	}

	/* connections */
	.connections-container i {
		font-size: 60px;
	}

	.connections-container h4 {
		font-size: 27px;
	}

	/* contact */
	.contact a,
	.contact p {
		font-size: 17px;
	}

	/* footer */
	footer p:first-of-type {
		font-size: 17px;
	}

	footer p,
	footer a {
		font-size: 10px;
	}
}

/* even smaller phones */
@media (max-width: 350px) {
	h3 {
		font-size: 1.7rem;
	}

	h2 {
		font-size: 30px;
	}

	.copy-content-container p,
	.admission-content-container p {
		font-size: 15px;
	}

	.read-more-btn {
		font-size: 25px;
		padding: 15px;
	}

	.main-menu {
		width: 109%;
	}

	.contact a,
	.contact p {
		font-size: 15px;
	}
}







